.blue-text{
    color: #004aad !important;
}

.bg-blue{
    background-color: #12334A;
}
.bg-green{
    color: rgb(104, 224, 207);
    margin-bottom: 10rem;
}

.header{
    background-color: #12334A;
    height: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.text-green{
    color: rgb(104, 224, 207)!important;
}

.text-grey{
    color: #d9d9d9 !important;
}

a{
    text-decoration: none ;
    color: black;
}

.icon{
    
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#1B4F72!important;
}

h1{
    font-size: 24px;
}

h2{
    font-size:18px;
}

h3, h4, p,span,ul{
    font-size: 14px;
}

h1,h2,h3,h4{
    font-weight: bold;
}


img{
    width: 80%;
}
.profilImg{
    height: 12.5rem;
    width: 10rem;
    border-radius: 5rem;
    object-fit: cover;
}

.w-45{
    width: 40%;
}
.w-30{
    width: 33%;
}
.w-80{
    width: 90%;
}
.img{
    height: 10rem;
    width: 90%;
    object-fit: cover;
}

.cercle{
    width: 10rem;
    height: 10rem;
    color: black!important;
    border-radius: 50%;
    background-color: rgb(104, 224, 207)!important;

}

.skill{
    width: 3rem;
    height: 1rem;
    background-color: #12334A;
    margin-bottom: .5rem;
}

